@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Alexandria';
    src: url('/fonts/alexandria-thin.woff2') format('woff2');
    font-weight: 100; /* Thin */
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Alexandria';
    src: url('/fonts/alexandria-regular.woff2') format('woff2');
    font-weight: 400; /* Regular */
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Alexandria';
    src: url('/fonts/alexandria-semibold.woff2') format('woff2');
    font-weight: 600; /* Semibold */
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Alexandria';
    src: url('/fonts/alexandria-bold.woff2') format('woff2');
    font-weight: 700; /* Bold */
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Alexandria';
    src: url('/fonts/alexandria-black.woff2') format('woff2');
    font-weight: 900; /* Black */
    font-style: normal;
  }
  
  /* Apply fallback font stack */
  body {
    font-family: 'Alexandria', sans-serif;
  }